<ol class="breadcrumb">
    <li><a href="/">Registries</a></li>
    {% if tag is defined %}
    <li><a href="{{ url_for('repo_overview', registry_name=registry.name) }}">{{registry.name}}</a></li>
    <li><a href="{{url_for('tag_overview', registry_name=registry.name, repo=(repo | urlencode))}}">{{repo}}</a></li>
    <li class="active"><a href="javascript:location.reload();">{{tag}}</a></li>
    {% elif repo is defined %}
    <li><a href="/registry/{{registry.name}}">{{registry.name}}</a></li>
    <li class="active"><a href="javascript:location.reload();">{{repo}}</a></li>
    {% elif registry is defined %}
    <li class="active"><a href="javascript:location.reload();">{{registry.name}}</a></li>
    {% endif %}
</ol>
