{% extends "layout.html" %}

{% block title %}
{% if identifier %}
Update Registry - {{name}}
{% else %}
Add Registry
{% endif %}
{% endblock %}

{% block header %}{% include 'breadcrumbs.html' %}{% endblock %}
{% block content %}
{% if identifier %}
<form data-toggle="validator" role="form" action="{{ url_for('update_registry', id=identifier) }}" method="post">
{% else %}
<form data-toggle="validator" role="form" action="{{ url_for('add_registry') }}" method="post">
{% endif %}
    <div class="form-group">
        <label>Name</label>
        <div class="input-group">
            <span class="input-group-addon glyphicon glyphicon-tag"></span>
            <input type="text" id="name" name="name" value="{{name | default('')}}" class="form-control" placeholder="Name"
                   required data-required-error="Name for registry is required">
        </div>
        <div class="help-block with-errors"></div>
    </div>
    <div class="form-group">
        <label>URL</label>
        <div class="input-group">
            <span class="input-group-addon glyphicon glyphicon-link"></span>
            <input type="text" id="url" name="url" value="{{url | default('')}}" class="form-control" placeholder="URL"
                   required data-required-error="URL of registry is required">
        </div>
        <div class="help-block with-errors"></div>
    </div>
    <div class="form-group">
        <label>User</label>
        <div class="input-group">
            <span class="input-group-addon glyphicon glyphicon-user"></span>
            <input type="text" id="user" name="user" value="{{user | default('')}}" class="form-control" placeholder="User">
        </div>
    </div>
    <div class="form-group">
        <label>Password</label>
        <div class="input-group">
            <span class="input-group-addon glyphicon glyphicon-lock"></span>
            <input type="password" id="password" name="password" value="{{password | default('')}}" class="form-control" placeholder="Password">
        </div>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
    <button type="button" id="connection_test" class="btn btn-default">Test Connection</button>
</form>

<script src= "{{ url_for('static', filename='js/connection_test.js') }}"></script>
{% endblock %}