{% extends "layout.html" %}
{% block title %}Registries{% endblock %}
{% block header %}{% include 'breadcrumbs.html' %}{% endblock %}
{% block content %}
<table id="registry_table" class="table table-striped" data-page-length="50">
    <thead>
        <tr>
            <th>Name</th>
            <th>URL</th>
            <th>Online</th>
            <th>Number of Repos</th>
            <th>Version</th>
        </tr>
    </thead>
    <tbody>
        {% for identifier, registry in registries.items() %}
        <tr>
            <td><a href="{{ url_for('repo_overview', registry_name=registry.name) }}">{{registry.name}}</a></td>
            <td>{{ registry.url}}</td>
            {% if registry.is_online() %}
            <td data-order="1" data-search="online"><span class="glyphicon glyphicon-ok-circle text-success"></span></td>
            <td>{{ registry.get_number_of_repos() }}</td>
            <td>v{{ registry.version }}</td>
            {% else %}
            <td data-order="0" data-search="offline"><span class="glyphicon glyphicon-remove-circle text-danger"></span></td>
            <td data-order="0"></td>
            <td data-order="0"></td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>

{% include 'table_include.html' %}
{% endblock %}