{% extends "layout.html" %}
{% block title %}Registries{% endblock %}
{% block header %}{% include 'breadcrumbs.html' %}{% endblock %}
{% block content %}
    <div class="pull-right">
        <a role="button" class="btn btn-success" href="/add_registry">
            <span class="glyphicon glyphicon-plus"></span>
            Add Registry
        </a>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>URL</th>
                <th>Number of Repos</th>
                <th>Size</th>
                <th>Online</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for identifier, registry in registries.items() %}
            <tr>
                <td><a href="{{ url_for('repo_overview', registry_name=registry.name) }}">{{registry.name}}</a></td>
                <td>{{ registry.url}}</td>
                {% if registry.is_online() %}
                <td>{{ registry.get_number_of_repos() }}</td>
                <td>{{ registry.get_size_of_registry() | to_mb }} MB</td>
                <td><span class="glyphicon glyphicon-ok-circle text-success"></span></td>
                {% else %}
                <td>N/A</td>
                <td>N/A</td>
                <td><span class="glyphicon glyphicon-remove-circle text-danger"></span></td>
                {% endif %}
                <td>
                    <form action="/remove_registry?id={{identifier}}" method="post">
                        <button type="submit" class="btn btn-danger btn-xs">
                            <span class="glyphicon glyphicon-trash"></span>
                        </button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}