{% extends "layout.html" %}
{% block title %}Repositories{% endblock %}
{% block header %}{% include 'breadcrumbs.html' %}{% endblock %}
{% block content %}
    {% if registry.is_online() %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Number of Tags</th>
                <th>Size</th>
            </tr>
        </thead>
        <tbody>
            {% for repo in registry.get_repos() %}
            <tr>
                <td><a href="{{url_for('tag_overview', registry_name=registry.name, repo=repo)}}">{{repo}}</a></td>
                <td>{{ registry.get_number_of_tags(repo) }}</td>
                <td>{{ registry.get_size_of_repo(repo) | to_mb }} MB</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    {% include 'offline.html' %}
    {% endif %}
{% endblock %}