{% extends "layout.html" %}
{% block title %}Tags{% endblock %}
{% block header %} {% include 'breadcrumbs.html' %} {% endblock %}
{% block content %}
{% if registry.is_online() %}
<table id="tag_table" class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Number of Layers</th>
            <th>Size</th>
            <th>Created</th>
            <th data-orderable="false"></th>
        </tr>
    </thead>
    <tbody>
        {% for tag in registry.get_tags(repo) %}
        <tr>
            <td><a href="{{url_for('tag_detail', registry_name=registry.name, repo=(repo | urlencode), tag=tag)}}">{{tag}}</a></td>
            <td>{{ registry.get_number_of_all_layers(repo)[tag] }}</td>
            <td>{{ registry.get_size_of_layers(repo, tag) | to_mb }} MB</td>
            <td>
                <time class="timeago" datetime="{{ registry.get_created_date(repo, tag) }}">{{ registry.get_created_date(repo, tag) }}</time>
            </td>
            {% if registry.supports_tag_deletion(repo) %}
            <td>
                <form action="{{url_for('delete_tag', registry_name=registry.name, repo=(repo | urlencode), tag=tag)}}" method="post">
                    <button type="submit" class="btn btn-danger btn-xs confirm">
                        <span class="glyphicon glyphicon-trash"></span>
                    </button>
                </form>
            </td>
            {% else %}
            <td></td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>

{% include 'table_include.html' %}
{% include 'timeago_include.html' %}
{% else %}
{% include 'offline.html' %}
{% endif %}
{% endblock %}