html, html body {
    height: 100%;
    overflow: hidden;
}

#footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 30px;
}

#header {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 35px;
}

#content {
    overflow: auto;
    height: calc(100% - 65px);
    position: absolute;
    top: 35px;
}